<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Number Converter</title>
    </head>
    <body>
        <form class="" action="index.html" method="post">
            <label for="start_base">Start Base</label><br>
            <input type="number" name="start_base" min="2" max="36"><br><br>
            <label for="end_base">End Base</label><br>
            <input type="number" name="end_base" min="2" max="36"><br><br>
            <label for="num">Number</label><br>
            <input type="number" name="num" value="0"><br><br>
            <button type="submit" name="submit">Submit</button>
        </form>
    </body>
</html>
